@model Common.Models.Unnaturaldeaths

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unnaturaldeaths</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfPostmortemExamination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfPostmortemExamination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SceneOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SceneOfDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceCaseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceCaseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfExamination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfExamination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformantRelationToDeceased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformantRelationToDeceased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImformantCidNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImformantCidNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralExternalInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralExternalInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dzongkhag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dzongkhag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeceasedName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeceasedName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPostmortemExamination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPostmortemExamination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidOrPassport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidOrPassport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transactedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transactedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transacteddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transacteddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastchanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastchanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
